<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:xmls="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Venta de Producto</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3300FF;">
    <a class="navbar-brand d-flex justify-content-center align-items-center" href="/" style="width: 100%; height: 100%;">ALKOSTO</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Comprar Producto</h1>
            <div class="card-body">
                <div th:if="${producto.stock == 0}">
                    <script> alert("No se puede realizar la compra, insuficientes productos...");</script>
                    <div style="text-align: center;">
                        <strong style="color: red; display: inline-block;">Insuficientes productos.</strong>
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <a href="/" class="btn btn-secondary" style="display: inline-block;">Volver</a>
                    </div>                </div>
                <div th:if="${producto.stock != 0}">
                    <form th:action="@{/make_purchase}" th:object="${producto}" method="post">
                        <div class="form-group">
                            <label>Id :</label>
                            <input type="text" name="id" th:field="*{id}" class="form-control" readonly="readonly">
                        </div>
                        <input type="hidden" name="producto_id" th:value="${producto.id}">
                        <div class="form-group">
                            <label>Nombre del producto :</label>
                            <input type="text" name="nombre" th:field="*{nombre}" class="form-control" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label>Referencia :</label>
                            <input type="text" name="referencia" th:field="*{referencia}" class="form-control" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label>Precio :</label>
                            <input type="text" name="precio" th:field="*{precio}" class="form-control" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label>Peso :</label>
                            <input type="text" name="peso" th:field="*{peso}" class="form-control" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label>Categoria :</label>
                            <input type="text" name="categoria" th:field="*{categoria}" class="form-control" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label>Stock :</label>
                            <input type="text" name="stock" th:field="*{stock}" class="form-control" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label>Fecha de creacion del producto :</label>
                            <input type="text" name="fecha" th:field="*{fecha}" class="form-control" readonly="readonly">
                            <br/><br/>
                            <script type="text/javascript">
                                document.getElementById("fecha").value = new Date().toISOString().slice(0, 10);
                            </script>
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-success">Comprar</button>
                            &nbsp;&nbsp;
                            <a class="btn btn-secondary" href="/">Volver</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>